NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDXtVDBb_JVb2agSu32ws0NKd24acJ1cLg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=my-expensive-4e1a7.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=my-expensive-4e1a7
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=my-expensive-4e1a7.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=746108650071
NEXT_PUBLIC_FIREBASE_APP_ID=1:746108650071:web:db63ab14d1e9ac3309d912