# dependencies
**/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
**/coverage

# next.js
**/.next/
**/out/

# production
**/build
**/dist

# misc
.DS_Store
*.pem
*.log

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Capacitor/Android
frontend/android/app/build
frontend/android/app/src/main/assets/public
frontend/android/app/src/main/assets/capacitor.config.json
frontend/android/captcha.config.json

